@model TobetoPlatform.Entities.DTOs.UserForLoginDto

@{
    ViewData["Title"] = "Giriş Yap";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Ana şablonu kullan
}

<h1>Giriş Yap</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2">
                <label class="control-label">E-posta</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label class="control-label">Şifre</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Giriş Yap" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>